<<in {name, item}>>

<h3 id="<<t name>>"><a href="#<<t name>>"><span class=kind><<t item.kind>></span> <<t name>></a></h3>

<<if item.extends>><p>Extends <code><<type item.extends>></code>.</p><</if>>

<<markdown item.description>>

<<if item.constructor>>
  <h4 id="<<t name>>_constructor">Constructor</h4>

  <dl>
    <<define {name: name, item: item.constructor, id: name + ".constructor"}>>
  </dl>

<</if>>

<<if item.members>>
  <h4 id="<<t name>>_properties">Properties</h4>
  <dl>
    <<for pname, prop in item.members>>
      <<define {name: pname, item: prop, id: propID(name, pname, false)}>>
    <</for>>
  </dl>
<</if>>

<<if item.methods>>
  <h4 id="<<t name>>_methods">Methods</h4>
  <dl>
    <<for pname, prop in item.methods>>
      <<define {name: pname, item: prop, id: propID(name, pname, false)}>>
    <</for>>
  </dl>
<</if>>

<<if item.events>>
  <h4 id="<<t name>>_events">Events</h4>
  <dl>
    <<for pname, prop in item.events>>
      <<define {name: pname, item: prop, id: name + ".event_" + pname}>>
    <</for>>
  </dl>
<</if>>    

<<if item.properties>>
  <h4 id="<<t name>>_static">Static properties</h4>
  <dl>
    <<for pname, prop in item.properties>>
      <<define {name: pname, item: prop, id: propID(name, pname, true)}>>
    <</for>>
  </dl>
<</if>>
