<!doctype html>

<meta charset="utf-8">
<title>ProseMirror: Reference Guide</title>
<link rel=stylesheet href=docs.css>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="fronttitle">
  <div class="fronttitle-inner">
    <h1><a href="../index.html"><img src="../logo.png" class=logo> ProseMirror</a></h1>
    <div class=subtitle>&nbsp;Reference guide</div>
  </div>
</div>

<div class="nav">
  <span class="demos">
    <a href="#">Demos</a>
    <div class=submenu>
      <a href="../demo_basic.html">Basics</a>
      <a href="../demo_markdown.html">User-friendly Markdown</a>
      <a href="../demo_dino.html">Dinos in the document</a>
      <a href="../demo_lint.html">Document checking</a>
      <a href="../demo_track.html">Change tracking</a>
      <a href="../demo_collab.html">Collaborative editing</a>
    </div>
  </span>
  <a href="http://marijnhaverbeke.nl/blog/prosemirror.html">Background</a>
  <a href="https://github.com/prosemirror/prosemirror">GitHub</a>
</div>

<article>

  <<markdown intro>>

  <h2>Contents</h2>

  <<toc>>

  <<for name, mod in modules>>
    <<module {name: name, mod: mod}>>
  <</for>>

</article>

</body>
