<<do
  var undocumentedProps = false
  if ($in.properties) for (var n in $in.properties) if (!$in.properties[n].description) undocumentedProps = true
>>

<<if $in.optional>>?<</if>>
<<if $in.type == "Function">>
  fn<<fntype $in>>
<<elif $in.type == "Array">>
  [<<for elt $in.content || []>><<if $i>>, <</if>><<type elt>><</for>>]
<<elif undocumentedProps>>
  {<<for name, prop in $in.properties>>
    <<if !prop.description>><<if $i>>, <</if>><<t name>>: <<type prop>><</if>>
   <</for>>}
<<else>>
  <<do var found = findLink($in)>>
  <<if found>><a href="<<t found>>"><<t $in.type>></a><<else>><<t $in.type>><</if>>
  <<if $in.content>>&lt;<<for elt $in.content>><<if $i>>, <</if>><<type elt>><</for>>&gt;<</if>>
<</if>>
