@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(//fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(//fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #fafaff;
  font-family: Lato;
  line-height: 1.5;
  overflow-y: scroll;
}

nav {
  position: fixed;
  padding-top: 30px;
  padding-right: 15px;
  max-height: 100%;
  box-sizing: -moz-border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 50%;
  width: auto;
  border-right: 349px solid transparent;
  text-align: right;
  z-index: 1;
}

nav .menubutton { display: none; }

article {
  max-width: 800px;
  margin: 0 auto;
  border-left: 2px solid #38a;
  border-right: 1px solid #ddf;
  padding: 30px 90px 100px 90px;
  background: white;
  z-index: 2;
  position: relative;
  left: 50px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

nav h1 {
  font-size: 20px;
  margin: 0;
}

nav a, nav a:visited {
  text-decoration: none;
}

nav ul a, nav ul a:visited {
  color: black;
  padding: 0 20px 0 4px;
  display: inline-block;
  margin-right: -20px;
}

#logo {
  padding: 8px 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

nav ul ul {
  font-size: 90%;
  margin: 0 0 .5em;
}

nav ul a.active, nav ul a:hover {
  color: #06a;
}

nav ul a.active, nav ul a:hover[href^="#"] {
  border-bottom: 1px solid #38a;
  margin-bottom: -1px;
}

@media screen and (max-width: 1033px) {
  article {
    margin: 0 0 0 160px;
  }
  nav {
    right: none;
    border-right: none;
    width: 160px;
  }
}

@media screen and (max-width: 800px) {
  article {
    border: none;
    padding: 20px 20px 40px;
    margin: 0;
    left: 0;
  }

  nav {
    position: relative;
    padding: 5px 20px;
    background: #06a;
    color: white;
    text-align: left;
    width: auto;
  }

  nav h1 {
    color: white;
    font-size: 24px;
    display: inline;
  }

  nav .menubutton {
    display: block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  nav.open ul {
    display: block;
  }

  nav ul a, nav ul a:visited {
    color: inherit;
    padding: 0;
    display: block;
    margin-right: 0;
    font-size: 18px;
  }

  nav ul a.active, nav ul a:hover {
    border-bottom: none;
    color: inherit;
    margin-bottom: 0;
  }

  #logo {
    display: none;
  }
}

h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }

h1, h2, h3, h4, h5, a, a:visited { color: #06a; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

article > p:first-child, article > h1:first-child {
  margin-top: 0;
}

p.callout {
  padding: 0 1em;
  font-weight: bold;
}

pre {
  padding-left: 15px;
  line-height: 1.4;
}

ul {
  padding-left: 1.5em;
}

.ProseMirror-menubar-wrapper {
  border: 1px solid silver;
}

.ProseMirror-content p:first-child,
.ProseMirror-content h1:first-child,
.ProseMirror-content h2:first-child,
.ProseMirror-content h3:first-child,
.ProseMirror-content h4:first-child,
.ProseMirror-content h5:first-child,
.ProseMirror-content h6:first-child {
  margin-top: .3em;
}

.ProseMirror-content {
  padding: 4px 8px 4px 14px;
  line-height: 1.2;
}
