@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

h1, h2, h3, strong, a, a:visited { color: #08b; }

.fronttitle {
  background: #5ae;
  color: white;
  width: 100%;
  padding: 20px 0 30px;
  margin: 0 0 1em;
}
.fronttitle a, .fronttitle h1 { color: white; text-decoration: none }
.fronttitle-inner {
  max-width: 720px;
  padding: 0;
  margin: auto;
  position: relative;
}
.fronttitle h1 {
  font-size: 60px;
  letter-spacing: .5px;
  margin: 0;
}

.fundlink {
  z-index: 6;
  background: #e22;
  color: white;
  position: absolute;
  right: 0px;
  border-radius: 5px;
  top: -5px;
  transform: rotate(8deg);
  transition: transform .3s linear;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;   
  border: 1px solid rgba(230, 34, 34, 0.2);
  font-size: 25px;
  font-weight: bold;
  padding: 4px 15px;
}
.fundlink:hover {
  background: #f33;
  border: 1px solid rgba(255, 60, 60, 0.2);
  transform: rotate(5deg) scale(1.1);
}

.demotip {
  z-index: 6;
  background: #ff7;
  border: 1px solid #ee5;
  color: #440;
  position: absolute;
  right: -20px;
  bottom: 2px;
  transform: rotate(-3deg);
  padding: 4px 15px;
  border-radius: 4px;
  pointer-events: none;
}

@media (min-width: 700px) {
  .front .fronttitle h1 { font-size: 90px }
  .front .subtitle { font-size: 22px }
  .front .logo { height: 140px }
}
@media (max-width: 650px) {
  img.logo { display: none }
}
@media (max-width: 400px) {
  .front .fronttitle h1 { font-size: 40px }
  .fundlink { font-size: 18px }
}



.subtitle { font-size: 18px; }
.logo { height: 100px; float: left; margin-right: 20px; margin-top: -6px; }

.nav {
  width: 100%;
  display: block;
  text-align: center;
  z-index: 7;
  margin: 5px 0 1em;
}

.nav a {
  padding: 5px 20px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  background: #5ae;
  color: white;
}

.nav a:hover {
  color: #08b;
  background: white;
}

.submenu {
  text-align: left;
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  min-width: 5em;
}

.nav .submenu a {
  color: #08b;
  background: white;
  white-space: pre;
  min-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.demos:hover > a {
  color: #08b;
  background: white;
}
.submenu a:hover {
  color: white;
  background: #5ae;
}

.demos {
  display: inline-block;
  position: relative;
}

.demos:hover .submenu {
  display: block;
}

@media (min-width: 1100px) {
  .nav {
    text-align: left;
    padding-top: 10px;
    position: absolute;
    left: calc(50% + 380px);
    top: -10px;
    width: auto;
  }
  .nav a {
    display: block;
    background: transparent;
  }
  .demos {
    width: 100%;
  }
  .submenu {
    right: 90%;
    left: auto;
    top: 0;
  }
  .front div.ProseMirror {
    margin-top: -15px;
  }
}

.front .fronttitle {
  margin-bottom: 0;
  padding-bottom: 35px;
}

.front .ProseMirror {
  margin: 4px -15px 1em;
  border-radius: 10px;
  background: white;
  border-color: #5ad;
}

.front .ProseMirror-content {
  padding-top: 8px;
  outline: none;
}

article {
  max-width: 700px;
  padding: 0 .5em 30vh;
  margin: auto;
  position: relative;
}

h3 {
  font-size: 18px;
  margin: 0;
}

abbr { border-bottom: 1px dotted }

.subtle { color: #777 }

.comment { background-color: #ff8 }
.currentComment { background-color: #fe0 }

.commentList, .commentText {
  display: block;
  padding: 0;
  margin: 0;
}

.commentList {
  width: 15em;
}

.commentText {
  padding: 2px 20px 2px 5px;
  position: relative;
}

.commentText:hover {
  background: #525252;
}

.commentText + .commentText {
  border-top: 1px solid white;
}

.commentDelete {
  position: absolute;
  right: 0;
  border: 0;
  font: inherit;
  display: inline;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.commentDelete:hover {
  color: #f88;
}

div.ProseMirror {
  margin-top: 1em;
  border: 1px solid  #38a;
  border-radius: 4px
}

.ProseMirror-icon-comment:before { content: "\e600" }
.ProseMirror-icon-comment { font-family: ProseMirror-demo-icons !important }

/* Inlined font with characters from Font Awesome http://fontawesome.github.io/ */

@font-face {
  font-family: ProseMirror-demo-icons;
  src: url(data:application/x-font-woff;base64,d09GRgABAAAAAAVQAAsAAAAABQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxICKmNtYXAAAAFoAAAAVAAAAFQaVsyHZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAUgAAAFIPivBl2hlYWQAAAMMAAAANgAAADYGR015aGhlYQAAA0QAAAAkAAAAJAfCA8ZobXR4AAADaAAAABQAAAAUCgAAAGxvY2EAAAN8AAAADAAAAAwAKAC4bWF4cAAAA4gAAAAgAAAAIAAIAF1uYW1lAAADqAAAAYYAAAGGmUoJ+3Bvc3QAAAUwAAAAIAAAACAAAwAAAAMDAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gADwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOYA//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAgAA/7cEAAMlACAAWgAAASIHBgcGFRQXFh8BBwYHNj8BFxYzMjc2NzY1NCcmJyYjARQHBgcGIyInBgcGByMiJyYnMSY3NjUmPwExNzYxNjc2NzY3Njc2NzY3JicmNTQ3Njc2MzIXFhcWFQIAdWVlPDwpKUoyEA0bV0cYIScjdWVlPDw8PGVldQIARUR2dosoK3GWHCUDCAcHAgIBAgEDBAQEBA4OBgYLDAcHCAkGWjM0RUR2douLdnZERQLbJyhDRE5AOjoqHTc0LiQ+FQMFKChDRE5OREMoJ/7cZFRUMTEFZCcIBAYGCgIFBQEBBAUFBQUPDwcGEBANDhQVFzJLS1ZjVVQxMTExVFVjAAEAAAAAAAAMAD/ZXw889QALBAAAAAAA0ZSE0AAAAADRlITQAAD/twQAAyUAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAUEAAAAAAAAAAAAAAACAAAABAAAAAAAAAAACgAUAB4ApAABAAAABQBbAAIAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABwAAAAEAAAAAAAIABwBgAAEAAAAAAAMABwA2AAEAAAAAAAQABwB1AAEAAAAAAAUACwAVAAEAAAAAAAYABwBLAAEAAAAAAAoAGgCKAAMAAQQJAAEADgAHAAMAAQQJAAIADgBnAAMAAQQJAAMADgA9AAMAAQQJAAQADgB8AAMAAQQJAAUAFgAgAAMAAQQJAAYADgBSAAMAAQQJAAoANACkaWNvbW9vbgBpAGMAbwBtAG8AbwBuVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwaWNvbW9vbgBpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuUmVndWxhcgBSAGUAZwB1AGwAYQByaWNvbW9vbgBpAGMAbwBtAG8AbwBuRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
  font-weight: normal;
  font-style: normal;
}

.doclist {
  display: block;
  padding: 2px 2px;
  margin: 0;
  border: 1px solid silver;
  position: absolute;
  background: white;
  font-size: 90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-height: 15em;
  overflow-y: auto;
}
.doclist li {
 display: block;
  padding: 1px 3px;
  margin: 0;
  cursor: pointer;
}
.doclist li:hover {
  background: #5ae;
  color: white;
}

.docinfo {
  position: relative;
}
.menustyle {
  position: absolute;
  top: 0;
  right: 0;
}

pre {
  padding-left: 15px;
  line-height: 1.4;
}

.demoblock {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}

.demoblock:hover {
  border-radius: 5px;
  border: 1px solid #7cf;
}

.demoblock a {
  text-decoration: none;
  color: #777;
  font-size: 14px;
}
