@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  line-height: 1.4;
  font-size: 16px;
}

.fronttitle h1, h2, h3, h4, h5, a, a:visited { color: #08b; }

h2 { font-size: 30px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }

.fronttitle {
  color: #08b;
  width: 100%;
  padding: 20px 0 30px;
  margin: 0 0 1em;
}
.fronttitle a, .fronttitle h1 { color: inherit; text-decoration: none }
.fronttitle-inner {
  max-width: 720px;
  padding: 0;
  margin: auto;
  position: relative;
}
.fronttitle h1 {
  font-size: 60px;
  letter-spacing: .5px;
  margin: 0;
}

@media (max-width: 650px) {
  img.logo { display: none }
}

.subtitle { font-size: 18px; }
.logo { height: 100px; float: left; margin-right: 20px; margin-top: -6px; }

.nav {
  width: 100%;
  display: block;
  text-align: center;
  z-index: 7;
  margin: 5px 0 1em;
}

.nav a {
  padding: 5px 20px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #08b;
}

.nav a:hover {
  color: white;
  background: #5ae;
}

.submenu {
  text-align: left;
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  min-width: 5em;
}

.nav .submenu a {
  color: white;
  background: #5ae;
  white-space: pre;
  min-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.demos:hover > a {
  color: white;
  background: #5ae;
}
.submenu a:hover {
  color: #08b;
  background: white;
}

.demos {
  display: inline-block;
  position: relative;
}

.demos:hover .submenu {
  display: block;
}

@media (min-width: 1100px) {
  .nav {
    text-align: left;
    padding-top: 10px;
    position: absolute;
    left: calc(50% + 380px);
    top: -10px;
    width: auto;
  }
  .nav a {
    display: block;
    background: transparent;
  }
  .demos {
    width: 100%;
  }
  .submenu {
    right: 90%;
    left: auto;
    top: 0;
  }
  .front div.ProseMirror {
    margin-top: -15px;
  }
}

article {
  max-width: 700px;
  padding: 0 .5em 30vh;
  margin: auto;
  position: relative;
}

.subtle { color: #777 }

a[name]:after {
  content: " "
}

dd p { margin: 0 }
dl { margin: 1em 0 }
dd { margin-left: 20px }
dt {
  margin-top: 1em;
  padding-left: 20px;
  text-indent: -20px;
}

code, dt, pre {
  font-family: monospace;
  font-size: 14px;
}

.kind {
  font-weight: normal;
  font-size: 85%;
}

code a, h2 a, h3 a, code a:visited, h2 a:visited, h3 a:visited {
  color: inherit;
  text-decoration: none;
}

a.code-link {
  float: right;
  color: #999;
  font-size: 16px;
  font-weight: normal;
  font-family: monospace;
  line-height: .7;
  text-decoration: none;
  text-indent: 0;
}
