<<in {item, name}>>

<h4 id="<<t prefix + item.id>>">
  <a href="#<<t prefix + item.id>>"><<t name>></a> <span class=kind><<t item.type>></span>
  <<if item.extends>> <span class=extends>extends <code><<type item.extends>></code></span><</if>>
</h4>

<<markdown item.description>>

<dl>

<<if item.constructor>>
  <<define {item: item.constructor, name: name}>>
<</if>>

<<if item.properties>>
  <<for name, prop in item.properties>><<define {item: prop, name: name}>><</for>>
<</if>>

<<if item.staticProperties>>
  <<for name, prop in item.staticProperties>><<define {item: prop, name: name, static: true}>><</for>>
<</if>>

</dl>
