<<head {title: $in.title, type: "examples"}>>

<<do
  const {dirname, resolve, basename} = require("path")
  const {readFileSync} = require("fs")
  const dir = dirname($in.fileName), base = basename(dir), exDir = resolve(dir, "../../../example/" + base)
  const baseFile = resolve(exDir, "./index.js"), htmlFile = resolve(exDir, "./index.html")

  function getPart(id) {
    let parts = id.split(":")
    let [file, tag] = parts.length == 2 ? parts : [baseFile, id]
    let code = readFileSync(file, "utf8")
    let found = new RegExp("// " + tag + "\\{\n([^]*?)// }\n").exec(code)
    if (!found) throw new Error("Unknown example code part " + id)
    return found[1]
  }

  let content = $in.content.replace(/\bPART\((.*?)\)/g, (_, id) => {
    return "```javascript\n" + getPart(id) + "```"
  }).replace(/\n@HTML(:\w+)?\n/g, (_, id) => {
    let html = readFileSync(htmlFile, "utf8")
    if (!id) return html
    let found = new RegExp("<!--\\s*" + id.slice(1) + "\\{\\s*-->\n([^]*?)<!--\\s*}\\s*-->\n").exec(html)
    if (!found) throw new Error("Unknown example code part " + id.slice(1))
    return found[1]
  })
>>

<<markdown content>>

<link rel=stylesheet href="../../css/editor.css">
<script src="../prosemirror.js"></script>
<script src="example.js"></script>

<<foot>>
