<<in {title, meta, nav}>>
<!doctype html>

<meta charset="utf-8">
<link rel=stylesheet href=/site.css>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><<t title>></title>

<<for name, value in meta || {}>>
  <meta property="<<t name>>" content="<<t value>>">
<</for>>

<nav>
  <div class=menubutton>☰</div>
  <a href="http://prosemirror.net">
    <h1>ProseMirror</h1>
    <img id=logo src="/img/logo.png">
  </a>
  <<if nav>>
    <ul>
      <<for title, target in nav>>
        <li>
          <a href="<<t typeof target == "string" ? target : target.href>>"><<t title>></a>
          <<if typeof target != "string" && target.sub>>
            <ul>
              <<for title_, href in target.sub>>
                <li><a href="<<t href>>"><<t title_>></a></li>
              <</for>>
            </ul>
          <</if>>
        </li>
      <</for>>
    </ul>
  <</if>>
  <ul>
    <li><a href="/docs.html">docs</a>
    <li><a href="http://discuss.prosemirror.net/">discuss</a>
    <li><a href="https://github.com/prosemirror/prosemirror">github</a>
  </ul>
</nav>

<article>
